/* Css. Header */

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 1px;
  background-color: white;

  font-size: x-small;
  padding: 20px;
}

.info1,
.info2 {
  display: flex;
  gap: 20px;
  align-items: center;
}

.signin {
  background-color: white;
  border: none;
  font-size: small;
}

.start {
  background-color: #0360fe;
  color: white;
  border: none;
  padding: 6px;
  font-size: x-small;
}

/* Css. Main */

/* Css Primo Blocco */

.block-1 {
  background-color: #b3cfe6;
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.container-80{
  display: flex;
  flex-direction: column;
  gap: 70px;
  width: 80%;
}


.container-80 > h1 {
  position: relative;
  top: 50px;
  font-size: 50pt;
  line-height: 100px;
  width: 100%;
}

.container-80 > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.container-80 > div > article {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-basis: 30%;

  font-size: 12pt;
  line-height: 25px;
}

.container-80 > div > article > a {
  font-size: 30pt;
  padding: 10px;
}

article > .start {
  width: 55%;
  font-size: 12px;
}

.cancel {
  background-color: transparent;
  border-color: transparent;
  width: 55%;
  font-size: 12px;
}

.container-80 > div > figure {
  display: flex;
  flex-basis: 70%;
}

.container-80 > div > figure > img {
  width: 100%;  
  position: relative;
  bottom: -100px; 
}

.plane-bottom-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Css Secondo Blocco */

.block-2 {
  display: flex;
  padding-top: 15%;
  padding-inline: 20%;

  flex-direction: column;
  gap: 50px;
}

.block-2 > h2 {
  font-size: 35pt;
}

.radio-button {
  display: flex;
  gap: 50px;
}

.plane {
  display: flex;
  gap: 40px;
}

.column-1,
.column-2,
.column-3 {
  border: 1px solid lightgrey;
}

.typology {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 20px;
}
.plane-bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.column-1 > h3 {
  font-size: 25pt;
}

.price {
  font-weight: bold;
}

.cadence {
  color: gray;
}

.functions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 25px;
}

.column-button {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trial-free {
  background-color: #0360fe;
  color: white;
  border: none;
  padding: 10px;
}

hr {
  width: 15%;
}

.plane-bottom > span {
  line-height: 25px;
}

span > i {
  color: #0060ff;
  font-size: 15pt;
}

/* CSS. Blocco 2 - Colonna 2 */

.column-3 > .plane-bottom > .plane-bottom-header {
  display: flex;
  padding-bottom: 50px;
}

/* Blocco 2 - Bottom */

.block-2-bottom {
  border: 1px solid lightgrey;
}

.block-2-bottom-content {
  display: flex;
  padding: 30px;
  justify-content: space-between;
}

.block-2-bottom-content > .button > button {
  background-color: #0360fe;
  color: white;
  border: none;
  padding: 15px;
}

.block-2-bottom-content > .button {
  flex-basis: 50%;
  text-align: right;
}

.block-2-bottom-header {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-basis: 100%;
}

.block-2-bottom-header > .txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.block-2-bottom-header > .txt > h3 {
  font-size: 25pt;
}

.block-2-bottom-header > .description > p {
  font-size: 10pt;
  line-height: 20px;
}

/* Css. Blocco 3 */

.block-3 {
  display: flex;
  width: 100%;
  padding-inline: 20%;
  padding-top: 10%;
}

.block-3 > .find-partner {
  display: flex;
}

.block-3 > .find-partner > figure {
  flex-basis: 60%;
}

.block-3 > .find-partner > article {
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex-basis: 40%;
  padding: 20px;
  line-height: 25px;
}

.block-3 > .find-partner > figure > img {
  width: 100%;
}

.block-3 > .find-partner > article > p {
  font-size: 10pt;
  color: gray;
}

.block-3 > .find-partner > article > button {
  background-color: white;
  border: 1px solid lightgray;
  color: gray;
  width: 40%;
  padding: 10px;
}

/* Css. Blocco 4 */

.block-4 {
  display: flex;
  flex-direction: column;
  gap: 100px;

  width: 100%;
  padding-inline: 20%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.block-4-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex-basis: calc(100% / 3 - 20px);
  flex-shrink: 1;
  flex-grow: 0;
}

.card > img {
  width: 100%;
}

.card > p {
  color: gray;
  text-align: justify;
  font-size: 10pt;
  line-height: 20px;
}

.tips{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 80%;
}

.tips > h2{
    font-size: 35pt;
}

/* Css. Footer */

footer{
    padding: 50px;
    background-color: black;

    width: 100%;
}

footer>*{
    color: white;
    line-height: 30px;
}


.link {
    display: flex;
    flex-direction: row;

    justify-content: center;
    width: 100%;
}

.language {
    display: flex;
align-items: center;
gap: 10px;
    width: 50%;
border-top: 3px solid gray;
}

p>span{
    font-size: 8pt;
}

.language>i{
    font-size: 10pt;
}

.column-footer{
    flex-basis: calc(100% / 5 - 50px);

    display: flex;
    flex-direction: column;
    gap: 35px;
}

.column-footer>ul{
    list-style: none;
    line-height: 30px;
    font: 8pt;
}

.column-footer>p{
    font-weight: bold;
    font-size: 16pt;
}

